.home-page-area
    .home-content
        .area-one
            background-image: linear-gradient(to bottom right, #6da5ff, #002d77)
            padding-bottom: 4.5em
            padding-top: 10em
            @media screen and (max-width: 767px)
                padding-top: 6em
            .area-one-titles
                @media screen and (max-width: 767px)
                    margin-bottom: 1.5em
                    text-align: center
                .area-one-title
                    font-size: 2em
                    margin-bottom: 1em
                .area-one-subtitle
                    font-size: 1.5em
            .area-one-info
                .area-one-text-preview
                    color: lightgray
                    font-size: 1.2em
                    padding-top: 5px
                    text-align: center
                    margin-bottom: .5em
        .area-two
            font-size: 1.5em
            margin-top: 2em
            padding: 1em
            text-align: center
            @media screen and (max-width: 767px)
                margin-top: .5em
            .area-two-text
                margin-top: 3em
                margin-bottom: 3em
                @media screen and (max-width: 767px)
                    margin-top: 1.5em
                    margin-bottom: 1em
                .area-two-option-desc
                        margin-bottom: 2em
                        @media screen and (max-width: 767px)
                            margin-bottom: 1.5em